/* NavBar */
.TimeTravel_Navbar {
	height: 80px;
}

/* Breadcrumb */
.TimeTravel_Breadcrumb {
	margin-top: 30px;
	margin-bottom: 20px;
}

/* IconBar */
.IconBar {
	font-size: 22px;
	margin: 20px 0px;
	align-items: center;
}
.Hotel_Icon {
	align-items: center;
	color: #63d2ff;
	margin: 0 10px;
}
.IconBar h5 {
	margin-bottom: 0px;
	color: #8a8a8a;
}
.MdKingBed {
	margin-left: 30px;
	font-size: 32px;
}

/* Rate */
.TimeTravel_Rate {
	color: #59d8a1;
	/* padding-bottom: 20px; */
}
.rate_text {
	margin-left: 10px;
	align-items: center;
}
.rate_text p {
	margin-bottom: 0px;
	padding-top: 5px;
	color: #8a8a8a;
}

/* ShowPic */
.Hotel_showPic {
	margin: 40px 0px;
}

/* HotelNotice */
.hotel_notice {
	margin: 30px 0px;
	color: #8a8a8a;
}

/* HotelDetail */
.hotel_detail_ul {
	list-style-type: none;
	padding-left: 0px;
}
.hotel_detail_ul li {
	margin: 30px 0px;
	color: #8a8a8a;
}

/* MapButton */
.map_button {
	border: #59d8a1 1px solid;
	background-color: transparent;
	color: #59d8a1;
	padding: 5px 30px;
	margin: 10px 0px 30px 0px;
}
.map_button_icon {
	margin-right: 8px;
	transform: translateY(-2px);
}

/* CommentSelector */
.CommentSelector {
	display: flex;
	justify-content: flex-end;
	/* margin-right: -16px; */
}

/* Comment */
.Comment_Top {
	display: flex;
}
.RateAndNumber {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
}
.Comment_Bottom {
	padding: 30px 0px;
	/* background-color: #ccc; */
	height: 225px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

/* BottomBar */
.BottomBar {
	height: 120px;
	position: fixed;
	bottom: 0;
	background-color: #ffffff;
	width: 100%;
	z-index: 999;
	padding: 18px 0px;
}
.BottomBar_BtnGroup {
	display: flex;
	/* outline: 1px red solid; */
	height: 30px;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 10px;
}
.BottomBar_inputDate {
	border-radius: 25px;
	border: 1px solid #aeaeae;
	color: #aeaeae;
	background-color: transparent;
	white-space: nowrap;
	overflow: hidden;
	height: 30px;
	justify-content: center;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.BottomBar_Buy {
	/* outline: 1px solid green; */
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.BottomBar_Buy_Right {
	color: #ffffff;
	width: 130px;
	height: 45px;
	border: 0px;
}

.MobileFooter {
	height: 420px;
	width: 100%;
	background-color: #aeaeae;
}
