.MultipleInput_passwordBox {
	display: flex;
	align-items: center;
}
.MultipleInput_password {
	box-sizing: border-box;
}
.MultipleInput_eye {
	display: flex;
	align-items: center;
	position: relative;
	left: -20px;
	color: rgb(128, 128, 128);
    cursor: pointer;
}
.MultipleInput_hidden {
	display: none;
}
