.site-calendar-demo-card {
	margin-top: 300px;
	width: 300px;
	border: 1px solid #f0f0f0;
	border-radius: 2px;
}

.hiddenBox .ant-space-item {
	visibility: hidden;
}
.hiddenBox .ant-picker-panel-container {
	box-shadow: none;
}
.hiddenBox .ant-picker {
	transition: none;
	transition-duration: 0s;
}
.DatePicker_BigBox {
	height: 500px;
}
